@import 'bootstrap/scss/bootstrap';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

.logo {
    max-width: 50px;
    max-height: 50px;
}